docs/**/*.html linguist-documentation=false linguist-language=HTML
docs/**/*.css linguist-documentation=false linguist-language=CSS
docs/**/*.js linguist-documentation=false linguist-language=JavaScript
