/* Styling for all the menus and buttons */
button {
    border: 1px;
    background-color: transparent;
    width: 25px;
    height: 25px;
}
img.dropdownMenuImage {
    max-width: 30px;
    max-height: 30px;
}
/* Custom dropdown menu button */
.dropdownButton {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border: #ffffff;
    border-width: 1px;
    border-radius: 6px;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
/* .dropdownButton .onPress {
    animate the '=' becoming 'X' (if this is the correct way of doing it) 
    animation-name: rotateButton;
    animation-duration: 0.25s;
} */
.dropdownButton:hover {
    background-color: rgb(95, 95, 95);           /* rgb(79, 111, 255) */
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
.dropdownButton:active {
    /* background-color: rgb(133, 167, 40); */
    animation-name: rotateButton;
    animation-duration: 0.25s;    
    /* transform: rotate(180deg); */
}
.dropdownButton:hover:active {
    background-color: rgb(197, 85, 85);
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
/* .dropdownButton:hover:not(:active) {    
    background-color: rgb(255, 255, 255);
    animation-name: fadeIn; 
    animation-duration: 0.5s; 
} */
@keyframes fadeIn {
    from { background-color: transparent; }
    to { background-color: rgb(95, 95, 95); }
}
@keyframes rotateButton {
    from { transform: rotate(0deg); }
    to { transform: rotate(90deg); }
    
}
@keyframes buttonPressed {
    0% { background-image: url('images/mainMenuPassive.png'); }
    12.5% { background-image: url('images/mainMenuAnimation1.png'); }
    25.0% { background-image: url('images/mainMenuAnimation2.png'); }
    37.5% { background-image: url('images/mainMenuAnimation3.png'); }
    50.0% { background-image: url('images/mainMenuAnimation4.png'); }
    62.5% { background-image: url('images/mainMenuAnimation5.png'); }
    75.0% { background-image: url('images/mainMenuAnimation6.png'); }
    87.5% { background-image: url('images/mainMenuAnimation7.png'); }
    100% { background-image: url('images/mainMenuActive.png'); }
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 9px 16px;
    font-size: 1.875rem;
    border: none;
    cursor: pointer;
    left: 0;
}
.dropdown {
    position: relative;
    left: 0;
}
.dropdown-content {    
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown-content a:active {
    background-color: rgb(79, 111, 255);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(79, 111, 255); 
}
.dropdown-text::after {
    content: "=";
    font-size: 1.875rem;
    padding: 9px;
}
.dropdown:hover .dropdown-text::after {
    content: "X";
    font-size: 1.875rem;
    padding: 9px;
}


ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
ul li {
    float: left;
    border-right:1px solid #bbbbbb;
}
ul li:last-child {
    border-right: none;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 70px;
}
ul li a:hover:not(.active) {
    background-color: #111111;
}
ul li a.active {
    background-color: green;
}

/* radio buttons */
/* a.radioButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333333; 
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}
a.radioButton:active {
    /* if the default blue is changable, change to the 'page blue' colour
} */
::-webkit-slider-runnable-track {
    height: 8px;
    cursor: pointer;
    border-radius: 4px;
}
button.radioButton {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333333; 
    border-radius: 1px;
    position: relative;
}