html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    top: 0;
    left: 0;
    width: 100%;
}
body {
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
}
footer {    
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;    
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 1rem;
}
.footer {
    text-align: center;
    padding: 5%;
    margin: 5%;
}
div {
    text-align: center;
    margin: 0%;
}
p {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1rem;
    padding: 1%;
    margin: 1%;
}
p2 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1rem;
    padding: 1%;
    margin: 1%;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 1.875rem;
    padding: 1%;
    margin: 1%;
}
h2 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 1.875rem;
    padding: 1%;
    margin: 1%;
}
/* Classes */
a.class1 {color:#ffffff;}
a.class1:link  {text-decoration: none; color: #ffffff;}
a.class1:visited {text-decoration: none; color: #ffffff;}
a.class1:hover {text-decoration: underline; color: #ffff00;}
a.class1:active {text-decoration: none; color: #ffff00;}
.sticky {position: sticky; top: 0;}