html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    margin: 0%;    
    font-size: 1.875rem;
    text-align: center;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;    
    background-attachment: fixed;
}
footer {    
    background-color: rgb(39, 39, 39);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.footer {
    color: rgb(255, 255, 255);
}
section {
    display: -webkit-flex;
    display: flex;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}
p {
    text-align: left;
    font-size: 1rem;
    padding: 1%;
    margin: 1%;
}
h1 {
    font-size: 1.875rem;
    text-align: left;
    column-span: all;
    margin: 1%;
}
h2 {
    font-size: 1.5rem;
    text-align: left;
    column-span: all;
    padding: 1%;
    margin: 1%;
}
div {
    text-align: center;
    padding: 1%;
    margin: 0%;
}
/* Classes */
a.link1 {color:#ffffff;}
a.link1:link  {text-decoration: none; color: #ffffff;}
a.link1:visited {text-decoration: none; color: #ffffff;}
a.link1:hover {text-decoration: underline; color: #ffff00;}
a.link1:active {text-decoration: none; color: #ffff00;}

a.link2 {color: rgb(79, 111, 255);}
a.link2:link  {text-decoration: none; color: rgb(79, 111, 255);}
a.link2:visited {text-decoration: none; color: rgb(79, 111, 255);}
a.link2:hover {text-decoration: underline; color: #ffff00;}
a.link2:active {text-decoration: none; color: #ffff00;}






.dropbtn {
    background-color: transparent;
    color: white;
    padding: 9px 16px;
    font-size: 1.875rem;
    border: none;
    cursor: pointer;
    left: 0;
}

.dropdown {
    position: relative;
    left: 0;
}

.dropdown-content {    
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a:active {
    background-color: rgb(79, 111, 255);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(79, 111, 255); 
}

.dropdown-text::after {
    content: "=";
    font-size: 1.875rem;
    padding: 9px;
}

.dropdown:hover .dropdown-text::after {
    content: "X";
    font-size: 1.875rem;
    padding: 9px;
}


/*
.dropdownButton {
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    max-height: 95px;
    left: 0;
    top: 0;
}
.dropdownButton:hover {
    { fade to a different image - for example 'X' => '=' image }
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    max-height: 95px;
    left: 0;
    top: 0;
}       */

.sticky {position: sticky; top: 0;}
.centredText {text-align: center;}
.leftText {text-align: left;}
.rightText {text-align: right;}



ul {
    list-style-type: none;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
    border-right:1px solid #bbbbbb;
}
ul li:last-child {
    border-right: none;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 70px;
}
ul li a:hover:not(.active) {
    background-color: #111111;
}
ul li a.active {
    background-color: green;
}