html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    top: 0;
    left: 0;
    width: 100%;
}
body {
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
}
footer {    
    bottom: 0;
    left: 0;    
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
/* Classes */
a.class1 {color:#ffffff;}
a.class1:link  {text-decoration: none; color: #ffffff;}
a.class1:visited {text-decoration: none; color: #ffffff;}
a.class1:hover {text-decoration: underline; color: #ffff00;}
a.class1:active {text-decoration: none; color: #ffff00;}
.sticky {position: sticky; top: 0;}