html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    margin: 0%;    
    font-size: 1.875rem;
    text-align: center;
}
body {
    margin: 0;
    background-attachment: fixed;
}
footer {    
    background-color: rgb(39, 39, 39);
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
}
.footer {
    color: rgb(255, 255, 255);
}
section {
    display: -webkit-flex;
    display: flex;
}
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
}
p {
    text-align: left;
    font-size: 1rem;
    padding: 1%;
    margin: 1%;
}
h1 {
    font-size: 1.875rem;
    text-align: left;
    column-span: all;
    margin: 1%;
}
h2 {
    font-size: 1.5rem;
    text-align: left;
    column-span: all;
    padding: 1%;
    margin: 1%;
}
div {
    text-align: center;
    padding: 1%;
    margin: 0%;
}
/* Classes */
a.class1 {color:#ffffff;}
a.class1:link  {text-decoration: none; color: #ffffff;}
a.class1:visited {text-decoration: none; color: #ffffff;}
a.class1:hover {text-decoration: underline; color: #ffff00;}
a.class1:active {text-decoration: none; color: #ffff00;}

a.class2 {color: rgb(79, 111, 255);}
a.class2:link  {text-decoration: none; color: rgb(79, 111, 255);}
a.class2:visited {text-decoration: none; color: rgb(79, 111, 255);}
a.class2:hover {text-decoration: underline; color: #ffff00;}
a.class2:active {text-decoration: none; color: #ffff00;}

.dropdownButton {
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    max-height: 95px;
    left: 0;
    top: 0;
}
.dropdownButton:hover {
    /* fade to a different image - for example X => = image */
    background-color: transparent;
    border-color: transparent;
    margin: 0%;
    max-height: 95px;
    left: 0;
    top: 0;
}

.sticky {position: sticky; top: 0;}
.centreText {text-align: center;}
.leftText {text-align: left;}
.rightText {text-align: right;}